* {
    box-sizing: border-box;
}

.font {
    font-family: 'Amatic SC', cursive;
}
.index-body {

background-image: url(../images/indexbackground.jpg);
}


.highscore-body {
    background-image: url(../images/highscoresbackground.jpg);
     height: 100%;
     background-repeat: no-repeat;
     
    
} 



.center {
    text-align: center;
}
.link {
    background-color: orange;
    font-size: 24px;
    font-weight: bold;
    width: 100px;
}

.score-heading {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: red;
    font-weight: bold;
    padding: 40px;
    
}

.submit-button {
    margin-left: 15px;
}

.index-heading{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
    padding: 40px 0px 10px 0px;
}

.intro {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 0px 100px;
    margin-top: 5px;
}

.index-border {
    border: 3px solid black;
    margin: 30px;
    background-color: orange;
}

.score-border {
    border: 3px solid black;
    margin: 30px 300px;
}

.buttonEl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.scores-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btn {
    margin: 10px;
}

.timer {
    background-color: orange;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.choice-btns {
    padding-top: 50px;
}

.four-btns{
    width: 250px;
    height: 45px;
}

.padding-btns-left {
    padding-left: 130px;
}
.padding-btns-right {
    padding-right: 130px;
}

.disappear {
    display: none;
}

.grade {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.name-input {
    margin: 15px auto;
}

.score-container {
    display: none;
    font-size: 45px;
    margin-top: 50px;

}


.score-list table{
    width: 100%;
    font-size: 24px;
    background-color: #ffc107;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;

}

.score-list table thead {
    background-color: oldlace; 
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.score-list table tr:nth-child(even) {
    background-color: lightcoral;

}
