* {
    box-sizing: border-box;
}

.font {
    font-family: 'Amatic SC', cursive;
}
.index-body {
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/48/99/seamless-pattern-question-marks-quiz-background-vector-29564899.jpg);
}

.score-body {
    background-image: url(https://lh3.googleusercontent.com/proxy/nUXLZAHNy77mUWeyNtt4ZCsCr_3oEEM6UfbX2DIriyR5bRN-PXcF6QwQQCK_W1Av3J5hVP9oznvPriq_cEAKmQNhp9WwXN-aVfBUWpbXSfb5t9LpgAi2u6AqLpo);
    /* height: 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.link {
    border: 3px solid orange;
    background-color: orange;
    font-size: 24px;
    font-weight: bold;
}

.score-heading {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: yellow;
    font-weight: bold;
    padding: 40px;
    
}

.index-heading{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
    padding: 40px 0px 10px 0px;
}

.instructions {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 0px 100px;
    margin-top: 5px;
}

.index-border {
    border: 3px solid black;
    margin: 30px 300px;
    background-color: orange;
}

.score-border {
    border: 3px solid black;
    margin: 30px 300px;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.scores-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btn {
    margin: 10px;
}